#wrapper {
  max-width: 1920px;
}

.container {
  max-width: 1200px;
}

header {
  height: 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#logo_wrap {
  margin-left: 20px;
  justify-content: space-between;
  white-space: nowrap;
  width: 209px;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

nav {
  margin-right: 10%;
}

nav ul {
  display: flex;
}

li {
  font-weight: 900;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  cursor: pointer;
  transition: linear 0.2s;
}

li:hover {
  color: blueviolet;
}

#photo {
  height: 50px;
}

a {
  color: inherit;
}